@model IEnumerable<FrontEnd.API.Models.Tickets>

@{
    ViewData["Title"] = "Mis reservas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Mis Reservas</h1>

<p>
  
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.CodTicket)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Nreserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Espacio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
            @Html.DisplayFor(modelItem => item.CodTicket)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Nreserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEmpresaNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Espacio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>


        </tr>
}
    </tbody>
</table>
