@model FrontEnd.API.Models.Empresa

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Deseas eliminar este registro?</h3>
<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservasUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservasUsuario)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CodEmpresa" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
