@model FrontEnd.API.Models.ControlAforo

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h3>¿Desea eliminar este elemento?</h3>
<div>
    <h4>ControlAforo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodControl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodControl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodEmpresaNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroDia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroDia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroAforo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroAforo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a la lista</a>
    </form>
</div>
